*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bg-color);
}

#divulgacao{
    height: 60vw;
}

#informacoes_integrantes{
    display: flex;
}

#sep_img{
    width: 100%;
    height: 42vw;
    overflow:hidden;
    background-color: #0C0C0C;
    user-select: none;
}

#foto_integrante{
    width: 100%;
    overflow:hidden;
    opacity: 0.6;
    user-select: none;
}

#dados_integrantes{
    position: absolute;
    width: 27vw;
    margin: 10vw 0 0 16vw;
}

#nome{
    font: bold 32pt Verdana;
    color: aliceblue;
    user-select: none;
}

#frase_integrante{
    font: normal 15pt Verdana;
    color: aliceblue;
    margin: 1vw 0 2vw 0;
    user-select: none;
}

#sep_icons{
    width: 17vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-between;
    margin:  0 0 1.5vw 0;
}

.icon_redes{
    justify-content: center;
    width: 3vw;
    transition: 1s;
    user-select: none;
}

.icon_redes:hover{
    scale:1.15;
    transition: 1s;
}

#btn_curriculum{
    width: 25vw;
    height: 4vw;
    background-color: rgb(172, 45, 45);
    border: none;
    border-radius: 0.5vw;
    transition: 1s;
}

#btn_curriculum:hover{
    transition: 0.5s;
    scale:1.1;
    background-color: rgb(196, 72, 72);
    border: none;
    border-radius: 0.5vw;
}

#download_icon{
    width: 2vw;
    transition: 1s;
    user-select: none;
}

#download_icon:hover{
    transition: 0.5s;
    scale:1.2;
}

#projetos{  
    position: absolute;
    margin: 35.5vw 9vw;
    display: flex;
    width: 80vw;
    height: 15.5vw;
    justify-content: space-between;
}

.projetos_info{
    background-color: #000000;
    width: 15vw;
    border-radius: 1vw;
    display: flex;
    overflow:hidden;
}

.nome_projs{
    position: absolute;
    margin:9.5vw 0 0 1.5vw;
    font: bold 16pt Verdana;
    color: white;
}

.descri_projs{
    width: 12vw;
    position: absolute;
    margin: 11.5vw 0 0 1.5vw;
    font: normal 11pt Verdana;
    color: white;
}

.imgs_projs{
    opacity: 0.5;
}