*{
    margin:0;
    padding:0;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../IMG/imgJogo.jpg');
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.863);
    height: 49.2VW;
    width: 100%;
}

h1{
    position: absolute;
    font: bold 2.7vw Verdana;
    letter-spacing: 0.5vw;
    margin-top: 10vw;
    color: var(--link-color);
    user-select: none;
}

.formulario{
    display: flex;
    margin-top: 16vw;
    width: 28vw;
}

.pergunta{
    position: absolute;
    font: bold 1vw Verdana;
    color: rgb(255, 255, 255);
    user-select: none;
}

.escr_pergunta{
    position: absolute;
    width: 24vw;
    height: 2.5vw;
    border-radius: 0.6vw;
    border: none;
    background-color: rgb(230, 230, 230);
    padding: 0 2vw 0 2vw;
    font: normal 0.8vw Verdana;
    user-select: none;
}

#r1{
    margin-top: 1.8vw;
}

#p2{
    margin-top: 6vw;
}

#r2{
    margin-top: 7.8vw;
}

#p3{
    margin-top: 12vw;
}

#r3{
    margin-top: 14vw;
}

.btns_container{
    display: flex;
    margin: 19vw  0 0 1.7vw ;
}

.btns{
    width: 12vw;
    height: 3VW;
    font: bold 1vw Verdana;
    color: aliceblue;
    border: none;
    user-select: none;
}

#deletar{
    border-radius: 0.5vw 0 0 0.5vw;
    background-color: rgb(180, 49, 49);
    transition: 0.5s;
}

#deletar:hover{
    background-color: rgb(223, 116, 116);
    transition: 1s;
}

#enviar{
    border-radius: 0 0.5vw 0.5vw 0;
    background-color: rgb(66, 151, 77);
    transition: 0.5s;
}

#enviar:hover{
    background-color: rgb(103, 216, 118);
    transition: 1s;
}