/* CSS responsável pela pagina Sobre nós */
#apresentacao{
    background-image:url(../IMG/imgvagalume.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height:50vw;
    display:flex;
    align-items:center;
    justify-content: end;
}

.titulo_pagsobre{
    font-size:2.5vw;
    font-family:"Radio Canada Big", arial black;
    color:var(--text-color);
    user-select: none;
}

.apresentacao_elementos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:2vw;
    width:35%;
    height:40vw;
    background-image: linear-gradient(-90deg, black, rgba(0, 0, 0, 0));
    padding:5vw;
}
/* Fim inicio */

/* Estrategias */

#estrategias{
    margin-top:6vw;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.estrategias_layout{
    background-color:var(--bg-secundary-color);
    width:17vw;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    padding:2vw;
    gap:2vw;
    border-radius:2vw 2vw 2vw 2vw;
    box-shadow:4px 4px 8px 2px #000;
}
.estrategias_layout .text{
    text-align:center;
}

.texto_grupo{
    font-size:1.4vw;
    font-family:'inter', arial, sans-serif;
    font-weight:200;
    text-align: justify; /* Alinhamento do texto como justificado */
    color:#ffffffc7;
    user-select: none;
}


.estrategias_layout .titulo_pagsobre{
    background-color: var(--secundary-link-color);
    padding:0.2vw 3vw 0.2vw 3vw;
    box-shadow:3px 3px 2px 2px #fff;
    font-size:2vw;
}

.estrategias_img{
    background-color:var(--link-color);
    color:var(--bg-color);
    border-radius:10vw;
    font-size:5vw;
    width:8vw;
    height:8vw;
    display:flex;
    align-items:center;
    justify-content:center;
    border:0.8vw solid var(--bg-color);
    margin-top:-6vw;
}
/* fim estrategias */

/* Efeitos transicao */
.efeitoTransicao_cima{
    margin-top:-4vw;
    height:5vw;
}
.efeitoTransicao_baixo{
    height:5vw;
    margin-bottom:-4vw;
}
/* Fim efeitos transicao */

/* Grupo */
#grupo{
    margin-top:5vw;
    background-image:url(../IMG/Img_grupo/img_grupo_unido.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:70%;
    height:30vw;
    display:flex;
    flex-direction:column;
    border-radius: 0 2vw 2vw 0;
}
.grupo_elementos{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1vw;
    width:60%;
    background-image: linear-gradient(90deg, black -15%, rgba(0, 0, 0, 0));
    height:100%;
    padding-left:5vw;
}
/* Fim grupo */
/* Integrantes */
#integrantes{
    margin:5vw auto;
    width: 95vw;
    display:flex;
    justify-content:space-around;
}

.integrante_img{
    background-image:url(../IMG/Img_grupo/semfoto.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    border-radius:0.5vw;
    width:13vw;
    height:23vw;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
}
.integrante_img:hover{
    filter: brightness(0.30); /* Adiciona um filtro para escurecer */
}
.integrante_img h2{
    font-size:1.3vw;
    margin-top:1vw;
}
.integrantes_text{
    font-size:1.1vw;
    font-family:"inter", sans-serif;
    font-weight:500;
    color:#fff;
    margin-bottom:1vw;
}
#Caua{
    background-image:url(../IMG/img_integrantes/CauaIcon.jpg);
}

#Davi{
    background-image:url(../IMG/img_integrantes/DaviIcon.jpg);
}
#Davi h2{
    color: #2c2c2c;
}


#Gabriel{
    background-image:url(../IMG/img_integrantes/GabrielIcon.jpg);
}

#Fernanda{
    background-image:url(../IMG/img_integrantes/FernandaIcon.jpg);
}

#Ruan{
    background-image:url(../IMG/img_integrantes/RuanIcon.jpg);
}
#Ruan h2{
    color: #2c2c2c;
}

#Pedro{
    background-image:url(../IMG/img_integrantes/PedroIcon.jpg);
}
/* Fim Integrantes */

/* Empresa */
#empresa{
    margin-top:5vw;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.empresa_imagem{
    background-image: url(../IMG/imgteste.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width:100%;
    height:45vw;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius:0% 0% 50% 50%;
    box-shadow: inset 0px -10px 20px 10px var(--bg-color); /* inset é usado para especificar que a sombra deve ser aplicada dentro da caixa do elemento, em vez de fora */
    
}
.empresa_imagem .logoJogo{
    width:40vw;
}
#empresa .text{
    margin-left:20vw;
    margin-right:20vw;
    margin-top:3vw;
    text-align:center;
}
.empresa_video{
    margin-top:3vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:3vw;
}

.empresa_video .btn{
    width:40vw;
    padding:1vw 0vw 1vw 0vw;
    border-radius:1vw;
}

.btn_text_minusculo{
    text-transform: none;
    font-size:2vw;
}
/* Fim Empresa */

/* Ferramentas */

#ferramentas{
    margin-top:6vw;
    background-image:url(../IMG/imgFerramentas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width:100%;
    height:30vw;
    display:flex;
    align-items:center;
    justify-content: initial;
}

.ferramentas_elementos{
    width:30vw;
    display:flex;
    flex-direction: column;
    gap:1.5vw;
    padding-left:8vw;
}

/* Fim ferramentas */


/*APAGAR AQUI*/

#parcerias{
    margin-top: 4vw;
    width: 100%;
    height: 20vw;
    text-align: center;
}

#Par_titulo{
    font: bold 1.5vw Verdana;
    color: #ffffff;
}

#Sala18{
    width: 10vw;
    margin-top: 2vw;
}

#sep_18{
    margin: 3vw auto;
    background-color: #000000;
    height: 20vw;
    width: 20vw;
    border-radius: 2vw;
}